*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 10px;
    padding: 10px;
    
}

.capa{
    background: #e3f06c8e;
   
    
}

.navbar{
    background: rgb(243, 230, 115);
   
}

footer{
	
	text-align: center;
	background: rgb(236, 234, 234);


}