*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 10px;
    padding: 10px;
    
}

#n1{
    border-radius: 100%;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 2px black;
}

#section2, #section4 {
    border-radius: 3% 0 3% 0;
    box-shadow: 5px 5px 5px 5px rgb(110, 110, 110);
    
}


#section1, #section3, #section5 {
    border-radius: 0 3% 0 3%;
    box-shadow: 5px 5px 5px 5px rgb(110, 110, 110);
}

.capa{
    
    border-radius: 3% 0 3% 0;
    box-shadow: 5px 5px 5px 5px rgb(110, 110, 110);
    
   
    
}

.navbar{
    
    box-shadow: 5px 5px 5px 5px rgb(110, 110, 110);
    
   
}

footer{
	
	text-align: center;
	


}